@import '../variables.scss';

.main {
    width: $page-width;
    margin: auto;
    padding-top: 15rem;
    padding-right: 10rem;

    & .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;

        & .logo {
            font-family: $font-accent;
            font-size: 13rem;
            line-height: 9.8rem;

            & .logo-first {
                color: $color-pink;
            }

            & .logo-second {
                color: $color-green;
                font-weight: 800;
            }
        }

        & .button {
            background-color: $color-button-orange;
            width: 30rem;
            height: 5rem;
            margin-left: 8.6rem;
            margin-top: 12.3rem;
            border: none;
            border-radius: 1.5rem;

            & .link {
                color: $color-button-white;
                font-size: 2.4rem;
                font-family: $font-accent;
                text-decoration: none;
            }
        }
    }

    & .remark {
        color: $color-font-blue;
        font-family: $font-accent;
        font-weight: 800;
        font-size: 2rem;
        margin: 3rem 0 0 3rem;
    }
}