@import '../../app/variables.scss';

.header {
    width: $page-width;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 5rem 0;
    background-color: $color-primary;
    font-family: $font-bold;

    & .navigation {
        display: flex;
        justify-content: space-between;

        & .link {
            color: $color-font-blue;
            text-decoration: none;
            padding-right: 2rem;
        }
    }
}