@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@900&display=swap');

@font-face {
    font-family: 'KyivType Bold';
    src: url('../../public/fonts/KyivType\ Sans\ Bold3.otf') format('opentype');
};


$color-primary: #FFFBC7;
$color-font-blue: #372BD8;
$color-button-orange: #FF5C00;
$color-button-white: #FFFFFF;
$color-pink: #FF419C;
$color-green: #38AA00;

$font-bold: 'Kumbh Sans';
$font-accent: 'KyivType Bold';

$page-width: 100rem;